# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing
.coverage
htmlcov/
.pytest_cache/
coverage.xml
*.cover
.hypothesis/

# Editors
.vscode/
.idea/

# Logs
*.log
logs/

# Local
.DS_Store
.env
